/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  /* Center content */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Form styles */
  form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Error and success messages */
  .error {
    color: red;
    font-size: 14px;
  }
  
  .success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* List of courses */
  .courses-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  
  .courses-container ul {
    list-style-type: none;
  }
  
  .courses-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .courses-container li:last-child {
    border-bottom: none;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link button {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-link button:hover {
    background-color: #007bb5;
  }

  /* Estilos para el símbolo de carga */
.loading {
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
}

/* Estilos para el mensaje de éxito */
.success-message {
  font-size: 18px;
  color: green;
  font-weight: bold;
  margin-top: 20px;
}


  
  